
<!-- #include tool-top gui/blocks/tool-top.htm;image=#image;onclick=#onclick;1; -->
<!-- #include tool-row-help gui/blocks/tool-row-help.htm;name=hklStats_1; help_ext=hklStats_1;1; -->
  <td ALIGN='left' width='100%'>
    <b>Tools for hkl statistics</b>
  </td>
<!-- #include row_table_off gui/blocks/row_table_off.htm;1; -->


<!-- #include tool-row-help gui/blocks/tool-row-help.htm;name=hklStats_2; help_ext=hklStats_2;1; -->
  
  <td ALIGN='left' width='15%'>
  $+
  html.Snippet("gui/snippets/input-combo",
  "name=PLOT_TYPE",
  "items=sigma/I<-soi;I/sigma<-ios;ivs",
  "value=spy.GetParam(hklstats.plot.type)",
  "onchange=spy.SetParam(hklstats.plot.type, html.GetValue(~name~))",
  )
  $-
  </td>

  <td ALIGN='right' width='6%'>
  minI
  </td>
  <td ALIGN='left' width='12%'>
  $+
  html.Snippet("gui/snippets/input-combo",
  "name=MIN_I",
  "items=0;0.01;0.05;0.1;0.2;0.5;1",
  "value=spy.GetParam(hklstats.plot.min_I)",
  "onchange=spy.SetParam(hklstats.plot.min_I, html.GetValue(~name~))",
  "readonly=false",
  )
  $-
  </td>

  <td ALIGN='right' width='6%'>
  I_max
  </td>
  <td ALIGN='left' width='12%'>
  $+
  html.Snippet("gui/snippets/input-combo",
  "name=MAX_I",
  "items=0.001;0.005;0.01;0.05;0.1;0.2;0.5;1",
  "value=spy.GetParam(hklstats.plot.max_I)",
  "onchange=spy.SetParam(hklstats.plot.max_I, html.GetValue(~name~))",
  "readonly=false",
  )
  $-
  </td>

  <td ALIGN='right' width='8%'>
  Y_max
  </td>
  <td ALIGN='left' width='12%'>
  $+
  html.Snippet("gui/snippets/input-combo",
  "name=MAX_Y",
  "items=0;0.2;0.5;1;2;5;10;30;60;100",
  "label=max_I",
  "value=spy.GetParam(hklstats.plot.max_y)",
  "onchange=spy.SetParam(hklstats.plot.max_y, html.GetValue(~name~))",
  "readonly=false",
  )
  $-
  </td>


  $+
    html.Snippet(GetVar(default_link),
    "value=PLOT",
    "name=follow_me#tool",
    "bgcolor=GetVar(gui.action_colour)",
    "fgcolor=#ffffff",
    "onclick=spy.hklstats.hklp()",
    )
  $-

  
<!-- #include row_table_off gui/blocks/row_table_off.htm;1; -->




<!-- #include tool-row-help gui/blocks/tool-row-help.htm;name=hklStats_2; help_ext=hklStats_2;1; -->
  
 <td ALIGN='left' width='15%'>
  $+
  html.Snippet("gui/snippets/input-combo",
  "name=andor",
  "items=and;or;--",
  "value=and",
  "manage=True"
  )
  $-
  </td>

  <td ALIGN='right' width='4%'>
  <b>h</b>
  </td>
  <td ALIGN='left' width='10%'>
  $+
  html.Snippet("gui/snippets/input-combo",
  "name=op_h",
  "items==;!=;<;>;--",
  "value=<",
  "manage=True"
  )
  $-
  </td>

  <td ALIGN='left' width='12%'>
  $+
  html.Snippet("gui/snippets/input-combo",
  "name=val_h",
  "items=0;1;2;3;4;5;10;20;even;odd",
  "onchange=spy.hklstats._gui_manage_evenodd(val_h)",
  "value=5",
  "readonly=False"
  "manage=True"
  )
  $-
  </td>
  <td ALIGN='right' width='4%'>
  <b>k</b>
  </td>
  <td ALIGN='left' width='10%'>
  $+
  html.Snippet("gui/snippets/input-combo",
  "name=op_k",
  "items==;!=;<;>;--",
  "value=<",
  "manage=True"
  )
  $-
  </td>

  <td ALIGN='left' width='12%'>
  $+
  html.Snippet("gui/snippets/input-combo",
  "name=val_k",
  "items=0;1;2;3;4;5;10;20;even;odd",
  "value=5",
  "onchange=spy.hklstats._gui_manage_evenodd(val_k)",
  "readonly=False"
  "manage=True"
  )
  $-
  </td>


  <td ALIGN='right' width='4%'>
  <b>l</b>
  </td>
  <td ALIGN='left' width='10%'>
  $+
  html.Snippet("gui/snippets/input-combo",
  "name=op_l",
  "items==;!=;<;>;--",
  "value=<",
  "manage=True"
  )
  $-
  </td>

  <td ALIGN='left' width='12%'>
  $+
  html.Snippet("gui/snippets/input-combo",
  "name=val_l",
  "items=0;1;2;3;4;5;10;20;even;odd",
  "onchange=spy.hklstats._gui_manage_evenodd(val_l)",
  "value=5",
  "readonly=False"
  "manage=True"
  )
  $-
  </td>

  
<!-- #include row_table_off gui/blocks/row_table_off.htm;1; -->




<!-- #include h3-hklStats-extras $GetVar(hklStats_plugin_path)\h3-hklStats-extras.htm;gui\blocks\tool-h3-off.htm;image=h3-hklStats_extras;onclick=;colspan=1;2; -->

<!-- #include tool-footer gui/blocks/tool-footer.htm;colspan=2;1; -->
